# Frequent itemset mining

In [1]:
# importamos los paquetes necesarion
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from mlxtend.frequent_patterns import apriori

% matplotlib inline

In [2]:
basket_starters_before = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\basket_starters_before.csv')
#basket_not_starters = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\basket_not_starters.csv')
#all_base = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\all_base.csv')

In [3]:
basket_starters_before = basket_starters_before.set_index('session_fake_id')
basket_starters_before = basket_starters_before.dropna(axis = 0, how = 'any')
basket_starters_before.head()

,1,2,3,4,5,6,7,8,9,10,...,92,93,94,95,96,97,98,99,100,101
session_fake_id,,,,,,,,,,,,,,,,,,,,,
100031-0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100033-3,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100049-0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100057-0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100057-14,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
basket_starters_before['1'].count()

73029

In [5]:
FIM_s_before = apriori(basket_starters_before, min_support=0.04, use_colnames=True)

FIM_s_before['length'] = FIM_s_before['itemsets'].apply(lambda x: len(x))

FIM_s_before.to_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\FIM_s_before.csv')

In [30]:
del basket_starters_before
del FIM_s_before

In [31]:
#basket_starters_before = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\basket_starters_before.csv')
basket_not_starters = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\basket_not_starters.csv')
#all_base = pd.read_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\all_base.csv')

In [32]:
basket_not_starters = basket_not_starters.set_index('session_fake_id')
basket_not_starters = basket_not_starters.dropna(axis = 0, how = 'any')
basket_not_starters.head()

,1,2,3,4,5,6,7,8,9,10,...,92,93,94,95,96,97,98,99,100,101
session_fake_id,,,,,,,,,,,,,,,,,,,,,
1-0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10-0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100-0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000-0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10000-0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
basket_not_starters['1'].count()

1316762

In [44]:
FIM_not_s = apriori(basket_not_starters, min_support=0.04, use_colnames=True)

FIM_not_s['length'] = FIM_not_s['itemsets'].apply(lambda x: len(x))

FIM_not_s.to_csv('C:\\Users\\OLX - Gonzalo\\Desktop\\tesis\\FIM_not_s.csv')